* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background-image: url(./StoreFrontAssets/slatebackground.jpg);
}

.header {
  padding: 30px;
  background-image: url(./StoreFrontAssets/marblebackground.jpg);
}

.header h1 {
  font-size: 50px;
  color: rgba(22, 21, 21, 0.877);
}

.header h2 {
  font-size: 35px;
  color: rgba(58, 42, 42, 0.842);
}

.topnav {
  overflow: hidden;
  background-color: rgb(51, 51, 51);
}

.topnav a {
  float: left;
  display: block;
  color: rgb(226, 226, 226);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgb(226, 226, 226);
  color: rgb(51, 51, 51);
}

.finePrint {
  font-size: smaller;
  color: rgba(51, 51, 51, 0.664);
}

/* Column styling */
.leftcolumn {   
  float: left;
  width: 20%;
  padding: 20px;
}

.middleleftcolumn {
  float: left;
  width: 20%;
  padding: 20px;
}

.middlecolumn {
  float: left;
  width: 20%;
  padding: 20px;
}

.middlerightcolumn {
  float: left;
  width: 20%;
  padding: 20px;
}

.rightcolumn {
  float: left;
  width: 20%;
  padding: 20px;
}

.card {
  background-color: rgb(255, 255, 255);
  display: block;
  height: auto;
  padding: 20px;
  margin-top: 20px;
}

.card img {
  width: 80%;
  height: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background-image: url(./StoreFrontAssets/marblebackground.jpg);
  margin-top: auto;
  color: rgb(51, 51, 51);
}

.footer a {
  float: left;
  display: block;
  color: rgb(226, 226, 226);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  overflow: hidden;
  background-color: rgb(51, 51, 51);
}

.footer a:hover {
  background-color:rgb(226, 226, 226);
  color: rgb(51, 51, 51);
}
  
 
/* responsiveness - stack columns */
@media screen and (max-width: 800px) {
  .leftcolumn, .middleleftcolumn, .middlecolumn, .middlerightcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* responsiveness - stack nav links */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}